nav {
    background-color: #6a1b9a;;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 100;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s;
}

nav a:hover {
    color: #ffdd57;
    transform: scale(1.1);
}

header {
    text-align: center;
    padding: 70px 20px;
    background: linear-gradient(135deg, #0077cc, #00bfff);
    color: #fff;
}

header h1 {
    font-size: 3.4rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.header img {
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid #ffd54f;
    margin-bottom: 20px;
    object-fit: cover;
    transition: transform 0.3s;
}

.header img:hover {
    transform: scale(1.05);
}

header p {
    font-size: 1.2rem;
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.5;
}

section {
    margin: 50px auto;
    padding: 25px;
    width: 80%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(106, 27, 154, 0.3);
}

section h2 {
    border-bottom: 3px solid #d84315;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #d84315;
    text-align: center;
    font-size: 1.8rem;
}
/* resume */

/* FOOTER */
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: #666;
}
/* project */
.project {
    border-radius: 25px;
    background-color: #fff8e1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 20px;
    margin: 25px auto;
    width: 70%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    transform: translateY(-7px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.project img {
    border-radius: 10px;
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
}

.project button {
    font-size: 16px;
    margin-top: 10px;
    padding: 14px 28px;
    border: 12px;
    background-color: #00897b;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.project button:hover {
    background-color: #004d40;
}
/* styles */
