body {
    color: #2c3e50;
    font-family: "Poppins";
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    background: linear-gradient(135deg, #eef2f7, #dceaff);
}

nav {
    background-color: #6a1b9a;
    padding: 50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 100;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: all 0.3s;
    ;
}

nav a:hover {
    color: #ffd54f;
    transform: scale(1.1);
}

header {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #0077cc, #00bfff);
    color: #fff;
}

header h1 {
    font-size: 3.4rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0, 2);
}

.header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid #ffd54f;
    margin-bottom: 20px;
    object-fit: cover;
    transition: transform 0.3;
}

.header img:hover {
    transform: scale(1.05);
}

header p {
    font-size: 1.2rem;
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.5;
}

section {
    margin: 50px auto;
    padding: 25px;
    width: 80%;
    background-color: #eef3ff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0, 1);
    transition: all 0.3s;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(106, 27, 154, 0.3);
}

section h2 {
    border-bottom: 3px solid #d84315;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #d84315;
    text-align: center;
    font-size: 2rem;
}

/* style.css */
.h2 {
     font-family: "Poppins";
    margin: 0;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 10px;
    padding: 100px;
    background: linear-gradient(135eg, #eef2f7, #d9e4f5);
}

.h2 {
    background-color: #0077cc;
    padding: 50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

/* divider */
.skills {
    background: #f9fbff;
    border-radius: 10px;
    padding: 18px 20px;
    margin-bottom: 16px;
}

.divider {
    height: 3px;
    background: linear-gradient(to right, #4a6fa5, #8fb3e8);
    border-radius: 3px;
    margin: 20px 0 25px;

}

/* div */

/* style */
